@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 16px;
  background: #000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 3px;
}

button,
input {
  box-shadow: none;
  border: none;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

input,
input:before,
input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.container {
  position: relative;
  width: 100%;
  max-width: 2048px;
  margin: 0 auto;
}

.w-180 {
  width: 33.5%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #959595;
}

.w-360 {
  width: 67%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #959595;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #959595;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;

    .header__group {
      width: 50%;
      display: flex;
    }

    .header__logo-wrapper {
      border-left: none;
    }

    .header__nav {
      width: 100%;
      display: flex;
      align-items: center;

      .w-180 {
        &:first-child {
          border-left: 1px solid #959595;
          border-right: 1px solid #959595;
        }
        &:nth-child(2) {
          border-left: 0px solid #959595;
          border-right: 0px solid #959595;
        }
      }

      a {
        display: flex;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
      }

      .header__nav-link {
        cursor: pointer;
        user-select: none;
        img {
          margin-left: 9.5px;
          transition: 0.3s;
        }
      }

      .drop-img-active {
        img {
          transform: rotate(180deg);
        }
      }

      .header__tel {
        img {
          margin-right: 9.65px;
        }
      }
    }

    .header__tel {
      color: #000;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;

      img {
        margin-right: 9.65px;
      }
    }
    .header__icons {
      width: 50%;
      display: flex;

      .header__icon-wrapper {
        .header__icon {
          &:first-child {
            border-left: none;
          }
        }
      }

      .header__icon {
        padding: 0 24px;
        border-left: 1px solid #959595;
      }
    }
  }

  .header__mobile {
    display: none;
  }
}

.cards {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .cards__card {
    width: 25%;
    height: 512px;
    padding-top: 20px;
    background-color: #e5e5e5;
    border-left: 0.5px solid #959595;
    border-bottom: 1px solid #959595;

    @media (min-width: 980px) {
      &:hover {
        .cards__content {
          .cards__content-footer {
            bottom: 0;
            transition: 0.3s;
            .cards__content-bottom {
              // display: flex;
            }
          }
        }
      }
    }

    .cards__card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;

      .cards__message {
        padding: 5px 8px;
        background-color: #ffdcda;
      }

      .cards__message-new {
        background-color: #ffeade;
      }
    }

    .cards__content {
      margin-top: 10px;
      width: 100%;
      height: 452px;
      background-size: calc(min(242px, 100%));
      background-position: bottom;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;

      .cards__card-link {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .cards__content-footer {
        position: absolute;
        left: 0;
        bottom: -55px;
        width: 100%;
        padding: 17px 20px;
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.24);
        transition: 0.6s;

        .cards__content-title {
          font-size: 16px;
          font-weight: 400;
        }

        .cards__content-price {
          margin-top: 8px;
          display: flex;
          align-items: center;

          .cards__content-price-active {
            font-size: 16px;
            font-weight: 500;
          }

          .cards__content-price-dis {
            margin-left: 8px;
            padding-bottom: 0px;
            color: #464646;
            font-size: 14px;
            font-weight: 400;
            text-decoration: line-through;
          }
        }

        .cards__content-bottom {
          margin-top: 12px;
          border-top: 1.5px solid #818181;
          padding-top: 10px;
          padding-bottom: 1px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .cards__content-sizes {
            display: flex;
            align-items: center;
            .cards__content-size {
              color: #464646;
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
              &:not(:first-child) {
                margin-left: 20px;
              }
            }

            .active-size {
              padding: 3px 4px;
              background-color: #ffeade;
              color: #000000;
              font-weight: 500;
            }
          }

          .cards__content-added {
            display: flex;
            align-items: center;
            color: #000;
            text-decoration: none;
            p {
              margin-left: 10px;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.dropdown-wrapper {
  width: 100%;
  max-width: 2048px;
  max-height: 512px;
  background-color: #fff;
  position: fixed;
  top: -512px;
  display: flex;
  flex-wrap: wrap;
  z-index: 9;
  transition: 0.3s;

  .dropdown {
    width: 25%;
    height: 512px;
    padding-top: 20px;
    padding-left: 20px;
    border-left: 1px solid #959595;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }

    .dropdown__group {
      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    .dropdown__title {
      color: #000;
      font-size: 14px;
      font-weight: 500;
    }

    .dropdown__links {
      margin-top: 16px;

      .dropdown__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: #464646;

        &:not(:first-child) {
          margin-top: 16px;
        }

        img {
          margin-left: 10px;
          transform: rotate(-90deg);
        }

        ul {
          margin-top: 10px;
          list-style: none;
          li {
            padding: 5px 0;
          }
        }
      }

      .dropdown__link__open-drop {
        cursor: pointer;
        transition: 0.3s;

        img {
          transition: 0.3s;
        }

        li {
          display: none;
        }

        &:hover {
        }
      }
    }
  }

  .dropdown-card {
    width: 25%;
    padding: 20px;
    border-left: 1px solid #959595;

    a {
      text-decoration: none;
      color: #000;
    }

    .dropdown-card__bg {
      width: 100%;
      height: 100%;
      background-image: url(../images/drop-card.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .dropdown-card__hover {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.56);
        opacity: 0;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }

        .dropdown-card__title {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}

.dropdown-wrapper[data-dropdown="city"] {
  width: 25%;
  max-height: 512px;

  .dropdown {
    width: 100%;
    height: 512px;
    padding-top: 20px;
    padding-left: 20px;
    border-left: 1px solid #959595;

    .dropdown__group {
      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    .dropdown__title {
      color: #000;
      font-size: 14px;
      font-weight: 500;
    }

    .dropdown__links {
      margin-top: 16px;

      .dropdown__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: #464646;

        &:not(:first-child) {
          margin-top: 16px;
        }

        img {
          margin-left: 10px;
          transform: rotate(-90deg);
        }

        ul {
          margin-top: 10px;
          list-style: none;
          li {
            padding: 5px 0;
          }
        }
      }

      .dropdown__link__open-drop {
        cursor: pointer;
        transition: 0.3s;

        img {
          transition: 0.3s;
        }

        li {
          display: none;
        }

        &:hover {
        }
      }
    }
  }

  .dropdown-card {
    width: 25%;
    padding: 20px;
    border-left: 1px solid #959595;

    a {
      text-decoration: none;
      color: #000;
    }

    .dropdown-card__bg {
      width: 100%;
      height: 100%;
      background-image: url(../images/drop-card.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .dropdown-card__hover {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.56);
        opacity: 0;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }

        .dropdown-card__title {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}

.dropdown-wrapper_open {
  top: 64px;
}

.advise {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;

  .advise__title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    p {
      font-size: 20px;
      font-weight: 400;
    }

    img {
      margin-left: 13px;
    }
  }
}

.cards-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #959595;

  .cards-two__card {
    width: 50%;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-top: 1px solid #959595;
    border-left: 1px solid #959595;
    text-decoration: none;
    color: #000;

    .cards-two__card-img {
      margin-bottom: 30px;
      width: 374px;
      height: 356px;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
    }

    .cards-two__footer {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 20px;
      padding-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cards-two__title {
        font-size: 20px;
        font-weight: 400;
      }

      .cards-two__price {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

.footer {
  border-top: 1px solid #959595;

  .container {
    display: flex;
  }

  .footer__block {
    width: 25%;
    padding: 20px 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #959595;

    &:first-child {
      border-left: none;
    }

    .footer__logo {
      margin-bottom: 20px;
      max-width: 156px;
    }

    .footer__desc {
      text-decoration: none;
      color: #464646;
      font-size: 14px;
      font-weight: 400;
      line-height: 135%;
    }

    .footer__text {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;

      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  .footer__block-mob {
    display: none;
  }
}

// Адаптация
@media (min-width: 1960px) {
  .cards {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .cards__card {
      height: 612px;
      padding-top: 80px;

      .cards__content {
        margin-top: 0px;
        height: 552px;
        background-size: calc(min(300px, 100%));
      }
    }
  }
  .dropdown-wrapper {
    max-height: 612px;
    top: -612px;

    .dropdown {
      height: 612px;
    }
  }

  .dropdown-wrapper_open {
    top: 64px;
  }

  .cards-two {
    .cards-two__card {
      height: 680px;

      .cards-two__card-img {
        margin-bottom: 30px;
        width: 574px;
        height: 656px;
        background-size: 70%;
      }
    }
  }
}

@media (max-width: 1120px) {
  .header {
    .container {
      .header__logo-wrapper {
        img {
          max-width: 70px;
        }
      }

      .header__nav {
        a {
          font-size: 13px;
        }

        .header__nav-link {
          cursor: pointer;
          font-size: 13px;
          img {
            margin-left: 7px;
          }
        }

        .header__tel {
          img {
            margin-right: 7px;
          }
        }
      }

      .header__tel {
        font-size: 13px;

        img {
          margin-right: 7px;
          max-width: 15px;
        }
      }
      .header__icons {
        .header__icon {
          padding: 0 15px;
          img {
            max-width: 15px;
          }
        }
      }
    }
  }

  .cards {
    .cards__card {
      width: 25%;
      height: 330px;

      .cards__content {
        margin-top: 45px;
        height: 235px;
        background-size: 120px;

        .cards__content-footer {
          padding: 7px 7px;

          .cards__content-title {
            font-size: 15px;
            font-weight: 400;
          }

          .cards__content-price {
            margin-top: 5px;

            .cards__content-price-active {
              font-size: 14px;
            }

            .cards__content-price {
              padding-bottom: 3px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .dropdown-wrapper {
    .dropdown {
      height: 330px;
      padding-bottom: 13px;
      overflow-y: scroll;

      /* полоса прокрутки (скроллбар) */
      &::-webkit-scrollbar {
        width: 0px;
        background: #000000;
      }

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 3px;
      }
    }
  }
}

@media (max-width: 980px) {
  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cards__card {
      width: 50%;
      height: 300px;

      .cards__content {
        .cards__content-footer {
          bottom: -55px;

          &:hover {
            bottom: -0px;
            .cards__content-bottom {
              display: flex;
            }
          }
        }
      }

      .cards__card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;

        .cards__message {
          padding: 5px 8px;
          background-color: #ffdcda;
        }
      }

      .cards__content {
        margin-top: 0px;
        width: 100%;
        height: 248px;
        background-size: 140px;

        .cards__content-footer {
          padding: 12px 12px;

          .cards__content-title {
            font-size: 16px;
            font-weight: 400;
          }

          .cards__content-price {
            margin-top: 8px;
            display: flex;
            align-items: center;

            .cards__content-price-active {
              font-size: 16px;
              font-weight: 500;
            }

            .cards__content-price {
              margin-left: 8px;
              padding-bottom: 8px;
              color: #464646;
              font-size: 14px;
              font-weight: 400;
              text-decoration: line-through;
            }
          }

          .cards__content-bottom {
          }
        }
      }
    }
  }

  .dropdown-wrapper {
    .dropdown {
      height: 300px;
    }
  }

  .footer {
    padding: 20px 0;
    .container {
      display: flex;
      flex-direction: column;
    }

    .footer__block-desc {
      display: none;
    }

    .footer__block-mob {
      width: 100%;
      display: flex;
      margin-top: 20px;
      border-top: 1px solid #464646;

      img {
        margin-top: 20px;
      }

      .footer__desc {
        max-width: 300px;
      }
    }

    .footer__block {
      width: 100%;
      padding: 0px 0;
      padding-left: 20px;
      border-left: none;

      .footer__text {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
    }

    .footer__text {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      margin-top: 16px;
    }
  }
}

@media (max-width: 830px) {
  .header {
    .header__desktop {
      display: none;
    }

    .header__mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .header__mobile-container {
        max-width: 375px;
        display: flex;

        .header__mobile-block {
          width: 50%;
          height: 48px;
          display: flex;
          align-items: center;
          &:first-child {
            border-right: 1px solid #464646;
          }

          a {
            text-decoration: none;
          }

          .header__mobile-icon {
            padding: 0 34px;

            &:nth-child(2n + 2) {
              border-left: 1px solid #464646;
            }
          }
        }
      }

      .header__mobile-nav {
        max-width: 100%;
        display: none;
        flex-direction: column;

        .header__mobile-link {
          min-width: 100%;
          width: 320px;
          max-width: 330px;
          padding: 19px 13px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000000;
          text-decoration: none;
        }
      }

      .header__mobile-nav-open {
        display: flex;
      }

      .header__mobile-drop {
        display: none;
        list-style: none;
        margin-left: 23px;
        li {
          padding: 10px 0;

          a {
            text-decoration: none;
            color: #464646;
          }
        }
      }

      .dropdown-wrapper_open {
        display: block;
      }
    }
  }

  .cards {
    margin-top: 48px;
  }
}

@media (max-width: 800px) {
  .cards-two {
    .cards-two__card {
      width: 50%;
      height: 380px;

      .cards-two__card-img {
        width: 224px;
        height: 206px;
        background-size: 70%;
      }

      .cards-two__footer {
        padding: 0 20px;
        padding-bottom: 15px;

        .cards-two__title {
          font-size: 15px;
        }

        .cards-two__price {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .cards {
    .cards__card {
      .cards__content {
        margin-top: 0px;
        width: 100%;
        height: 248px;
        background-size: 130px;

        .cards__content-footer {
          bottom: -85px;
          .cards__content-bottom {
            flex-direction: column;

            .cards__content-sizes {
              display: flex;
              align-items: center;
              .cards__content-size {
                color: #464646;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                &:not(:first-child) {
                  margin-left: 20px;
                }
              }

              .active-size {
                padding: 3px 4px;
                background-color: #ffeade;
                color: #000000;
                font-weight: 500;
              }
            }

            .cards__content-added {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  .cards-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cards-two__card {
      width: 100%;
      height: 300px;
      border: none;
      border-top: 1px solid #959595;

      &:last-child {
        border-bottom: 1px solid #959595;
      }

      .cards-two__card-img {
        width: 274px;
        height: 256px;
        background-size: 70%;
      }

      .cards-two__footer {
        padding: 0 12px;
        padding-bottom: 12px;

        .cards-two__title {
          font-size: 16px;
        }

        .cards-two__price {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 355px) {
  .header {
    .header__mobile {
      .header__mobile-container {
        .header__mobile-block {
          .header__mobile-icon {
            padding: 0 28px;
          }
        }
      }
    }
  }
}
